#result {
  display: flex;
  justify-content: center;
  margin: 15px 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-size: 1.2rem;
}

#result p {
  margin: 5px;
  line-height: 29px;
}

form {
  margin: 5px;
}

input {
  margin-right: 10px;
  font-size: 1.33rem;
  padding: 0 5px;
}

select {
  margin-right: 10px;
  font-size: 1.33rem;
}
